/* universal */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

ul li a { text-decoration: none; }

li { list-style-type: none; }

/* content */

div#content {
  background-image: url(../images/content_background.png);
}

/* sidenav */

nav#sidenav {
  background-image: url(../images/sidenav_background.png);

  ul#sidenav_list {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    li {
      margin: 5px;

      a {
        color: #F0F769;
      }
      &#divider {
        margin-bottom: 15px;
        border-top: 1px solid;
        color: #E6E6E6;
      }
    }
  }
}
