%ul#sidenav_list
  %li
    %a{ :href => "/" } Home

  %li#divider

  %li
    %a{ :href => "/article_1" } Article I
  %li
    %a{ :href => "/article_2" } Article II
  %li
    %a{ :href => "/article_1.haml" } Article III
  %li
    %a{ :href => "/article_1.haml" } Article IV
  %li
    %a{ :href => "/article_1.haml" } Article V
  %li
    %a{ :href => "/article_1.haml" } Article VI
  %li
    %a{ :href => "/article_1.haml" } Article VII
  %li
    %a{ :href => "/article_1.haml" } Article VIII
  %li
    %a{ :href => "/article_1.haml" } Article IX
  %li
    %a{ :href => "/article_1.haml" } Article X
  %li
    %a{ :href => "/article_1.haml" } Article XI
  %li
    %a{ :href => "/article_1.haml" } Article XII
  %li
    %a{ :href => "/article_1.haml" } Article XIII
  %li
    %a{ :href => "/article_1.haml" } Article XIV
  %li
    %a{ :href => "/article_1.haml" } Article XV
  %li
    %a{ :href => "/article_1.haml" } Article XVI
  %li
    %a{ :href => "/article_1.haml" } Article XVII
  %li
    %a{ :href => "/article_1.haml" } Article XVIII
  %li
    %a{ :href => "/article_1.haml" } Article XIX
  %li
    %a{ :href => "/article_1.haml" } Article XX
