%ul#sidenav_list
  %li
    %a{ :href => '/' } Home

  %li#divider

  %li
    %a{ :href => '/article_1' } Article I
  %li
    %a{ :href => '/article_2' } Article II
  %li
    %a{ :href => '/article_3' } Article III
  %li
    %a{ :href => '/article_4' } Article IV
  %li
    %a{ :href => '/article_5' } Article V
  %li
    %a{ :href => '/article_6' } Article VI
  %li
    %a{ :href => '/article_7' } Article VII
  %li
    %a{ :href => '/article_8' } Article VIII
  %li
    %a{ :href => '/article_9' } Article IX
  %li
    %a{ :href => '/article_10' } Article X
  %li
    %a{ :href => '/article_11' } Article XI
  %li
    %a{ :href => '/article_12' } Article XII
  %li
    %a{ :href => '/article_13' } Article XIII
  %li
    %a{ :href => '/article_14' } Article XIV
  %li
    %a{ :href => '/article_15' } Article XV
  %li
    %a{ :href => '/article_16' } Article XVI
  %li
    %a{ :href => '/article_17' } Article XVII
  %li
    %a{ :href => '/article_18' } Article XVIII
  %li
    %a{ :href => '/article_19' } Article XIX
  %li
    %a{ :href => '/article_20' } Article XX
