%h1
  THE CONSTITUTION OF THE STATE OF NEW YORK

%p
  As Revised, with Amendments adopted by the Constitutional Convention of 1938 
  and Approved by Vote of the People on November 8, 1938 and Amendments 
  subsequently adopted by the Legislature and Approved by Vote of the People.

%p
  As Amended and in Force Since January 1, 2010
