!!!
%html
  %head
    %title
      New York State Constituon
    != css :normalize, :site, :style, :media => 'screen'
  %body
    #page_wrapper
      %nav#sidenav
        = partial :sidenav
      #content
        = yield
