%h1
  ARTICLE XVII
  %span
    Social Welfare

%ol#article_list
  %li
    ยง1. Public relief and care.
  %li
    2. State board of social welfare; powers and duties.
  %li
    3. Public health.
  %li
    4. Care and treatment of persons suffering from mental disorder or defect;
    visitation of institutions for.
  %li
    5. Institutions for detention of criminals; probation; parole; state
    commission of correction.
  %li
    6. Visitation and inspection.
  %li
    7. Loans for hospital construction.
