%h1
  ARTICLE VI
  %span
    Judiciary

%ol#article_list
  %li
    ยง1. Unified court system; organization; process.
  %li
    2. Court of appeals; organization; designations; vacancies, how filled;
    commission on judicial nomination.
  %li
    3. Court of appeals; jurisdiction.
  %li
    4. Judicial departments; appellate divisions, how constituted; governor to
    designate justices; temporary assignments; jurisdiction.
  %li
    5. Appeals from judgment or order; new trial.
  %li
    6. Judicial districts; how constituted; supreme court.
  %li
    7. Supreme court; jurisdiction.
  %li
    8. Appellate terms; composition; jurisdiction.
  %li
    9. Court of claims; jurisdiction.
  %li
    10. County courts; judges.
  %li
    11. County court; jurisdiction.
  %li
    12. Surrogate's courts; judges; jurisdiction.
  %li
    13. Family court; organization; jurisdiction.
  %li
    14. Discharge of duties of more than one judicial office by same judicial
    officer.
  %li
    15. New York city; city-wide courts; jurisdiction.
  %li
    16. District courts; jurisdiction; judges.
  %li
    17. Town, village and city courts; jurisdiction; judges.
  %li
    18. Trial by jury; trial without jury; claims against state.
  %li
    19. Transfer of actions and proceedings.
  %li
    20. Judges and justices; qualifications; eligibility for other office or
    service; restrictions.
  %li
    21. Vacancies; how filled.
  %li
    22. Commission on judicial conduct; composition; organization and
    procedure; review by court of appeals; discipline of judges or justices.
  %li
    23. Removal of judges.
  %li
    24. Court for trial of impeachments; judgment.
  %li
    25. Judges and justices; compensation; retirement.
  %li
    26. Temporary assignments of judges and justices.
  %li
    27. Supreme court; extraordinary terms.
  %li
    28. Administrative supervision of court system.
  %li
    29. Expenses of courts.
  %li
    30. Legislative power over jurisdiction and proceedings; delegation of
    power to regulate practice and procedure.
  %li
    31. Inapplicability of article to certain courts.
  %li
    32. Custodians of children to be of same religious persuasion.
  %li
    33. Existing laws; duty of legislature to implement article.
  %li
    34. Pending appeals, actions and proceedings; preservation of existing
    terms of office of judges and justices.
  %li
    35. Certain courts abolished; transfer of judges, court personnel, and
    actions and proceedings to other courts.
  %li
    36. Pending civil and criminal cases.
  %li
    36-a. Effective date of certain amendments to articles VI and VII.
  %li
    36-b.
    %span.list_italics
      No section
  %li
    36-c. Effective date of certain amendments to article VI, section 22.
  %li
    37. Effective date of article.
