%h1
  ARTICLE VII
  %span
    State Finances

%ol#article_list
  %li
    ยง1. Estimates by departments, the legislature and the judiciary of
    needed appropriations; hearings.
  %li
    2. Executive budget.
  %li
    3. Budget bills; appearances before legislature.
  %li
    4. Action on budget bills by legislature; effect thereof.
  %li
    5. Restrictions on consideration of other appropriations.
  %li
    6. Restrictions on content of appropriation bills.
  %li
    7. Appropriation bills.
  %li
    8. Gift or loan of state credit or money prohibited; exceptions for
    enumerated purposes.
  %li
    9. Short term state debts in anticipation of taxes, revenues and proceeds of sale of authorized bonds.
  %li
    10. State debts on account of invasion, insurrection, war and forest fires.
  %li
    11. State debts generally; manner of contracting; referendum.
  %li
    12. State debts generally; how paid; contribution to sinking funds;
    restrictions on use of bond proceeds.
  %li
    13. Refund of state debts.
  %li
    14. State debt for elimination of railroad crossings at grade; expenses;
    how borne; construction and reconstruction of state highways and parkways.
  %li
    15. Sinking funds; how kept and invested; income therefrom and
    application thereof.
  %li
    16. Payment of state debts; when comptroller to pay without appropriation.
  %li
    17. Authorizing the legislature to establish a fund or funds for tax
    revenue stabilization reserves; regulating payments thereto and
    withdrawals therefrom.
  %li
    18. Bonus on account of service of certain veterans in World War II.
  %li
    19. State debt for expansion of state university.
