%h1
  ARTICLE III
  %span
    Legislature

%ol#article_list
  %li
    ยง1. Legislative power.
  %li
    2. Number and terms of senators and assemblymen.
  %li
    3. Senate districts.
  %li
    4. Readjustments and reapportionments; when federal census to control.
  %li
    5.  Apportionment of assemblymen; creation of assembly districts. 
  %li
    5-a. Definition of inhabitants.
  %li
    6. Compensation, allowances and traveling expenses of members.
  %li
    7. Qualifications of members; prohibitions on certain civil appointments;
    acceptance to vacate seat.
  %li
    8. Time of elections of members.
  %li
    9. Powers of each house.
  %li
    10. Journals; open sessions; adjournments.
  %li
    11. Members not to be questioned for speeches.
  %li
    12. Bills may originate in either house; may be amended by the other.
  %li
    13. Enacting clause of bills; no law to be enacted except by bill.
  %li
    14. Manner of passing bills; message of necessity for immediate vote.
  %li
    15. Private or local bills to embrace only one subject, expressed in
    title.
  %li
    16. Existing law not to be made applicable by reference.
  %li
    17. Cases in which private or local bills shall not be passed.
  %li
    18. Extraordinary sessions of the legislature; power to convene on 
    legislative initiative.
  %li
    19. Private claims not to be audited by legislature; claims barred by 
    lapse of time.
  %li
    20. Two-thirds bills.
  %li
    21. Certain sections not to apply to bills recommended by certain
    commissioners or public agencies.
  %li
    22. Tax laws to state tax and object distinctly; definition of income 
    for income tax purposes by reference to federal laws authorized.
  %li
    23. When yeas and nays necessary; three-fifths to constitute  quorum.
  %li
    24. Prison labor; contract system abolished.
  %li
    25. Emergency governmental operations; legislature to provide for.