%h1
  ARTICLE XV
  %span
    Canals

%ol#article_list
  %li
    ยง1. Disposition of canals and canal properties prohibited.
  %li
    2. Prohibition inapplicable to lands and properties no longer useful;
    disposition authorized.
  %li
    3. Contracts for work and materials; special revenue fund.
  %li
    4. Lease or transfer to federal government of barge canal system authorized.
