%h1
  ARTICLE IX
  %span
    Local Governments

%ol#article_list
  %li
    ยง1. Bill of rights for local governments.
  %li
    2. Powers and duties of legislature; home rule powers of local governments;
    statute of local governments.
  %li
    3. Existing laws to remain applicable; construction; definitions.
