%h1
  ARTICLE I
  %span
    Bill of Rights

%p
  ยง1. Rights, privileges and franchise secured; power of legislature to
  dispense with primary elections in certain cases.
%p
  2.  Trial by jury; how waived.
%p
  3.  Freedom of worship; religious liberty. 
%p
  4.  Habeas corpus. 
%p
  5.  Bail; fines; punishments; detention of witnesses.
%p
  6.  Grand jury; protection of certain enumerated rights; duty of public
officers to sign waiver of immunity and give testimony; penalty for refusal.
%p
  7.  Compensation for taking private property; private roads; drainage
of agricultural lands.
%p
  8.  Freedom of speech and press; criminal prosecutions for libel.
%p
  9.  Right to assemble and petition; divorce; lotteries; pool-selling and
  gambling; laws to prevent; pari-mutuel betting on horse races
  permitted; games of chance, bingo or lotto authorized under certain restrictions.
%p
  10. Repealed
%p
  11. Equal protection of laws; discrimination in civil rights prohibited.
%p
  12. Security against unreasonable searches, seizures and interceptions.
%p
  13. Repealed
%p
  14. Common law and acts of the colonial and state legislatures.
%p
  15. Repealed
%p
  16. Damages for injuries causing death.
%p
  17. Labor not a commodity; hours and wages in public work; right to
  organize and bargain collectively.
%p
  18. Workers' compensation.
