%h1
  ARTICLE XIV
  %span
    Amendments To Constitution

%ol#article_list
  %li
    ยง1. Amendments to constitution; how proposed, voted upon and ratified;
    failure of attorney-general to render opinion not to affect validity.
  %li
    2. Future constitutional conventions; how called; election of delegates;
    compensation; quorum; submission of amendments; officers; employees; rules;
    vacancies.
  %li
    3. Amendments simultaneously submitted by convention and legislature.
