%h1
  ARTICLE I
  %span
    Bill of Rights

%ol#article_list
  %li
    ยง1. Rights, privileges and franchise secured; power of legislature to
    dispense with primary elections in certain cases.
  %li
    2. Trial by jury; how waived.
  %li
    3. Freedom of worship; religious liberty. 
  %li
    4. Habeas corpus. 
  %li
    5. Bail; fines; punishments; detention of witnesses.
  %li
    6. Grand jury; protection of certain enumerated rights; duty of public
    officers to sign waiver of immunity and give testimony; penalty for refusal.
  %li
    7. Compensation for taking private property; private roads; drainage
    of agricultural lands.
  %li
    8. Freedom of speech and press; criminal prosecutions for libel.
  %li
    9. Right to assemble and petition; divorce; lotteries; pool-selling and
    gambling; laws to prevent; pari-mutuel betting on horse races
    permitted; games of chance, bingo or lotto authorized under certain restrictions.
  %li
    10. Repealed
  %li
    11. Equal protection of laws; discrimination in civil rights prohibited.
  %li
    12. Security against unreasonable searches, seizures and interceptions.
  %li
    13. Repealed
  %li
    14. Common law and acts of the colonial and state legislatures.
  %li
    15. Repealed
  %li
    16. Damages for injuries causing death.
  %li
    17. Labor not a commodity; hours and wages in public work; right to
    organize and bargain collectively.
  %li
    18. Workers' compensation.
