%h1
  ARTICLE XIII
  %span
    Public Officers

%ol#article_list 
  %li
    ยง1. Oath of office; no other test for public office.
  %li
    2. Duration of term of office.
  %li
    3. Vacancies in office; how filled; boards of education.
  %li
    4. Political year and legislative term.
  %li
    5. Removal from office for misconduct.
  %li
    6. When office to be deemed vacant; legislature may declare.
  %li
    7. Compensation of officers.
  %li
    8. Election and term of city and certain county officers.
  %li
    9-12.
    %span.list_italics
      No sections 9-12
  %li
    13. Law enforcement and other officers.
  %li
    14. Employees of, and contractors for, the state and local governments;
    wages, hours and other provisions to be regulated by legislature.
