%h1
  ARTICLE XVI
  %span
    Taxation

%ol#article_list
  %li
    ยง1. Power of taxation; exemptions from taxation.
  %li
    2. Assessments for taxation purposes.
  %li
    3. Situs of intangible personal property; taxation of.
  %li
    4. Certain corporations not to be discriminated against.
  %li
    5. Compensation of public officers and employees subject to taxation.
  %li
    6. Public improvements or services; contract of indebtedness; creation of public corporations.
