%h1
  ARTICLE XVII
  %span
    Housing

%ol#article_list
  %li
    ยง1. Housing and nursing home accommodations for persons of low income; slum
    clearance.
  %li
    2.
    %span.list_italics
      Idem;
    powers of legislature in aid of.
  %li
    3. Article VII to apply to state debts under this article, with certain
    exceptions; amortization of state debts; capital and periodic subsidies.
  %li
    4. Powers of cities, towns and villages to contract indebtedness in aid of 
    low rent housing and slum clearance projects; restrictions thereon.
  %li
    5. Liability for certain loans made by the state to certain public
    corporations.
  %li
    6. Loans and subsidies; restrictions on and preference in occupancy of
    projects.
  %li
    7. Liability arising from guarantees to be deemed indebtedness; method of
    computing.
  %li
    8. Excess condemnation.
  %li
    9. Acquisition of property for purposes of article.
  %li
    10. Power of legislature; construction of article.
