%h1
  ARTICLE VIII
  %span
    Local Finances

%ol#article_list
  %li
    ยง1. Gift or loan of property or credit of local subdivisions prohibited;
    exceptions for enumerated purposes.
  %li
    2. Restrictions on indebtedness of local subdivisions; contracting and
    payment of local indebtedness; exceptions.
  %li
    2-a. Local indebtedness for water supply, sewage and  drainage facilities
    and purposes; allocations and exclusions of indebtedness.
  %li
    3. Restrictions on creation and indebtedness of certain corporations.
  %li
    4. Limitations on local indebtedness.
  %li
    5. Ascertainment of debt-incurring power of counties, cities, towns
    and villages; certain indebtedness to be excluded.
  %li
    6. Debt-incurring power of Buffalo, Rochester and Syracuse; certain
    additional indebtedness to be excluded.
  %li
    7. Debt-incurring power of New York city; certain additional indebtedness to
    be excluded.
  %li
    7-a. Debt-incurring power of New York city; certain indebtedness for
    railroads and transit purposes to be excluded.
  %li
    8. Indebtedness not to be invalidated by operation of this article.
  %li
    9. When debt-incurring power of certain counties shall cease.
  %li
    10. Limitations on amount to be raised by real estate taxes for local
    purposes; exceptions.
  %li
    10-a. Application and use of revenues: certain public improvements.
  %li
    11. Taxes for certain capital expenditures to be excluded from tax
    limitation.
  %li
    12. Powers of local governments to be restricted; further limitations
    on contracting local indebtedness authorized.
