%h1
  ARTICLE IV
  %span
    Executive

%ol#article_list
  %li
    ยง1. Executive power; election and terms of governor and lieutenant-governor.
  %li
    2. Qualifications of governor and lieutenant-governor.
  %li
    3. Powers and duties of governor; compensation.
  %li
    4. Reprieves, commutations and pardons; powers and duties of governor
    relating to grants of.
  %li
    5. When lieutenant-governor to act as governor.
  %li
    6. Duties and compensation of lieutenant-governor; succession to the
    governorship.
  %li
    7. Action by governor on legislative bills; reconsideration after veto.
  %li
    8. Departmental rules and regulations; filing; publication.
