%h1
  ARTICLE V
  %span
    Officers And Civil Departments

%ol#article_list
  %li
    ยง1. Comptroller and attorney-general; payment of state moneys without audit
    void.
  %li
    2. Civil departments in the state government.
  %li
    3. Assignment of functions.
  %li
    4. Department heads.
  %li
    5.
    %span.list_italics 
      Repealed
  %li
    6. Civil service appointments and promotions; veterans' credits.
  %li
    7. Membership in retirement systems; benefits not to be diminished
    nor impaired.
