%h1
  ARTICLE II
  %span
    Suffrage
    
%ol#article_list
  %li
    ยง1. Qualifications of voters.
  %li
    2. Absentee voting.
  %li
    3. Persons excluded from the right of suffrage.
  %li
    4. Certain occupations and conditions not to affect residence.
  %li
    5. Registration and election laws to be passed.
  %li
    6. Permanent registration.
  %li
    7. Manner of voting; identification of voters.
  %li
    8. Bi-partisan registration and election board.
  %li
    9. Presidential elections; special voting procedures authorized.
