%h1
  ARTICLE XI
  %span
    Education

%ol#article_list  
  %li
    ยง1. Common schools.
  %li
    2. Regents of the University.
  %li
    3. Use of public property or money in aid of denominational schools
    prohibited; transportation of children authorized.