%h1
  ARTICLE X
  %span
    Corporations

%ol#article_list
  %li
    ยง1. Corporations; formation of.
  %li
    2. Dues of corporations.
  %li
    3. Savings bank charters; savings and loan association charters;
    special charters not to be granted.
  %li
    4. Corporations; definition; right to sue and be sued.
  %li
    5. Public corporations; restrictions on creation and powers; accounts;
    obligations of.
  %li
    6. Liability of state for payment of bonds of public corporation to
    construct state thruways; use of state canal lands and properties.
  %li
    7. Liability of state for obligations of the port of New York authority
    for railroad commuter cars; limitations.
  %li
    8. Liability of state on bonds of a public corporation to finance new
    industrial or manufacturing plants in depressed areas.
