%section#title_page
  %h1
    THE CONSTITUTION OF THE STATE OF NEW YORK
  %p
    As Revised, with Amendments adopted by the  
  %p
    Constitutional Convention of 1938 and 
  %p
    Approved by Vote of the People on 
  %p
    November 8, 1938 
  %p
    and  
  %p
    Amendments subsequently adopted by the  
  %p#title_bottom
    Legislature and Approved by Vote of the People.
  %hr.title_break
  %p
    As Amended and in Force Since January 1, 2010
  %hr.title_break
